<div class="container col-md-6 mt-3 mt-md-4">
    <h1>Editing Article</h1>

    <%= render 'form', article: @article %>
    <%= link_to 'Show', @article, class: 'btn border py-0 px-1 mt-1' %>
    <%= link_to 'Back', articles_path, class: 'btn border py-0 px-1 mt-1' %>
</div>
